@model Dashboard.Models.Operation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Operation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Booked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Booked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
