@model IEnumerable<Dashboard.Models.Operation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>

                    <img src="~/images/doctor.png" class="logo" />
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                    @if (item.Booked.Day < DateTime.Today.Day)
                    {
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>

                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@item.id">Edit |</a>
                        <a asp-action="Details" asp-route-id="@item.id">Details |</a> 
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
